<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComicHUB | LOGIN</title>
</head>
<body>
    <h1>Authorization</h1>
    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">
        <br>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" value="Enter">

    </form>
</body>
</html>