<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ComicHUB | Registration</title>
  <link rel="stylesheet" href="/styles/registration.css">
</head>
<body>
<div class="registration-container">
  <div class="form-wrapper">
    <div class="header">
      <h3>Registration</h3>
      <a th:href="@{/comics/index}" class="home-button">Home</a>
    </div>
    <form action="/registration" th:object="${user}" method="POST" enctype="multipart/form-data">
      <label for="username">Username:</label>
      <input type="text" th:field="*{username}" id="username" name="username" class="form-input" required>
      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></p>
      <p th:if="${user_exists}" class="error-message">The user's already exists in the system!</p>

      <label for="email">E-mail:</label>
      <input type="email" th:field="*{email}" id="email" name="email" class="form-input" required>
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>

      <label for="password">Password:</label>
      <input type="password" th:field="*{password}" id="password" name="password" class="form-input" required>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>
      <p th:if="${!password_valid}" class="error-message">The passwords doesn't match!</p>

      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password" class="form-input" required>

      <input type="hidden" name="_csrf" th:value="${_csrf.token}">

      <button type="submit" class="submit-button">Sign Up</button>
    </form>
    <p class="login-link">Already have an account? <a href="/login">Log In</a></p>
  </div>
</div>
</body>
</html>
