<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComicHUB | Registration</title>
</head>
<body>
  <h3>Registration</h3>
  <br>
  <form action="/registration" method="POST" enctype="multipart/form-data">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username">
    <br>
    <label for="email">E-mail: </label>
    <input type="email" id="email" name="email">
    <br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password">
    <br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Sign up">
  </form>
</body>
</html>