<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comic</title>
</head>
<body>
    <p>Name: <span th:text="${comic.getTitle()}"></span></p>
    <p>Description: <span th:text="${comic.getDescription()}"></span></p>
    <p>Author: <span th:text="${comic.getAuthor()}"></span></p>
    <p>Country: <span th:text="${comic.getCountry().getFullName()}"></span></p>
    <p>Genre: <span th:text="${comic.getGenre().getName()}"></span></p>
    <embed th:src="@{/viewPdf/{fileId}(fileId=${comic.pdfFile.id})}" type="application/pdf" width="100%" height="600px">
</body>
</html>