<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>All comics</h1>
    <hr>
    <div th:each="item : ${comics}">
        <p>Name: <span th:text="${item.getTitle()}"></span></p>
        <p>Description: <span th:text="${item.getDescription()}"></span></p>
        <p>Owner: <span th:text="${item.user.username}"></span></p>
        <form th:action="@{/userread/add}" method="POST">
            <input type="hidden" name="comicId" th:value="${item.id}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Add to list">
        </form>
        <p>--------</p>
    </div>
</body>
</html>